<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Productos</ion-title>

    <ion-buttons end>
      <button ion-button tappable (click)="showSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar *ngIf="viewsearch" [(ngModel)]="findText" [showCancelButton]="true" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"
    placeholder="Buscar Producto">
  </ion-searchbar>

  <ion-list *ngIf="products.products">
    <ion-item-sliding *ngFor="let product of products.products" (click)="updateProduct(product)">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="https://goo.gl/ihokqL">
        </ion-thumbnail>

        <!-- Descripcion -->
        <h2>{{ product.name }}</h2>
        <p>Precio :
          <ion-badge item-end color="secondary">{{ product.price | currency:'S/ '}}</ion-badge>
        </p>
        <p>Medida:
          <strong>{{ product.unity }}</strong>
        </p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="primary">
          <h1>
            <ion-icon name="text"></ion-icon>
          </h1>
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="danger">
          <h1>
            <ion-icon name="trash"></ion-icon>
          </h1>
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <div text-center style="margin-top: 20px;">
      <button ion-button color="clean" round type="button" (click)="loadMore()">
        Cargar Mas
      </button>
    </div>

  </ion-list>


  <ion-fab right bottom>
    <button (click)="createProduct()" ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>